{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Invoices" %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="Invoices" icon="invoices" %}

    <div class="nice-padding">
        {% if has_invoice %}

            <ul class="listing">
                {% for invoiceindex, model_type in invoiceindex_list %}
                    <li>
                        <div class="row row-flush title">
                            <h2>
                                <a href="{% url 'wagtailinvoices_index' pk=invoiceindex.pk %}" class="col6">
                                    {{ invoiceindex.title }}
                                </a>
                            </h2>
                            <small class="col6">{{ model_type|title }}</small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no payment pages yet - go add one!</p>
        {% endif %}
    </div>
{% endblock %}
