{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans %}New invoice{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block content %}
    {% trans "New" as new_str %}
    {% trans "invoice" as invoicepost_str %}
    {% include "wagtailadmin/shared/header.html" with title=new_str subtitle=invoicepost_str icon="invoice" %}

    <form action="{% url 'wagtailinvoices_create' pk=invoiceindex.pk %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}

<footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup dropdown-button match-width">
                            <input type="submit" value="{% trans 'Create and Send To Client' %}" name='{{send_button_name}}' />
                        <div class="dropdown-toggle icon icon-arrow-up"></div>

                        <ul role="menu">
                        <li>
                            <input type="submit" value="{% trans 'Create and Save only' %}" />
                        </li>
                    </div>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
