{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load wagtailroutablepage_tags %}
{% block titletag %}{% trans "Invoices" %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block content %}

    {% trans "Edit" as new_str %}
    {% include "wagtailadmin/shared/header.html" with title=new_str subtitle=invoice icon="invoice" %}

    <form action="{% url 'wagtailinvoices_edit' pk=invoiceindex.pk invoice_pk=invoice.pk %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}

<footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup dropdown-button match-width">
                            <input type="submit" value="{% trans 'Update' %}" />
                        <div class="dropdown-toggle icon icon-arrow-up"></div>

                        <ul role="menu">
                        <li>
                        <a href='{% routablepageurl invoice.invoiceindex.specific 'invoice_pdf' uuid=invoice.uuid %}' target='_blank' name='{{print_button_name}}'> Open Invoice PDF </a>
                        </li>
                        <li>
                            <input type="submit" value="{% trans 'Update and send' %}" name='{{send_button_name}}' />
                        </li>
                    </div>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
