{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Invoices" %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block content %}

    <header class="nice-padding">
        <div class="row row-flush">
            <div class="left col9">
                <h1 class="icon icon-edit">{% blocktrans %}Invoices{% endblocktrans %} <span>{{ invoiceindex.url }}</span></h1>
            </div>
            <div class="right col3">
                <a href="{% url 'wagtailinvoices_create' invoiceindex.pk %}" class="button bicolor icon icon-plus">{% blocktrans %}Create Invoice{% endblocktrans %}</a>
            </div>
            <form class='col search-form' action='{% url 'wagtailinvoices_search' pk=invoiceindex.pk %}' method="GET">
    {% csrf_token %}
    {{form}}
    <input type='submit' value="Search">
</form>
        </div>
    </header>
    {% if invoice_list.exists %}
        <table class="listing full-width">
            <colgroup>
            <thead><tr class="table-headers">
                <th class="title">Title</th>
                <th class='date'>Last Updated</th>
                <th class="date">Issued</th>
                <th class='date'>Total</th>
                <th class="date">ID</th>
            </tr></thead>
            <tbody>
            {% for invoice in invoice_list %}
                <tr>
                    <td class="title">
                        <h2>
                            <a href="{% url 'wagtailinvoices_edit' pk=invoiceindex.pk invoice_pk=invoice.pk %}">
                                {{ invoice }}
                            </a>
                        </h2>
                        <ul class="actions">
                            <li><a href="{% url 'wagtailinvoices_edit' pk=invoiceindex.pk invoice_pk=invoice.pk %}" class="button button-small">{% trans 'Edit' %}</a></li>
                            <li><a href="{% url 'wagtailinvoices_delete' pk=invoiceindex.pk invoice_pk=invoice.pk %}" class="button button-small button-secondary no">{% trans 'Delete' %}</a></li>
                        </ul>
                    </td>
                    <td class='date'>
                        {{ invoice.last_updated|date:'l d F, Y' }}
                    </td>
                    <td class='date'>
                        {{ invoice.time|date:'l d F, Y' }}
                    </td>
                    <td class='date'>
                        ${{ invoice.total }}
                    </td>
                    <td class="date">
                        {{ invoice.id }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nice-padding">No invoices yet!</div>
    {% endif %}
{% endblock %}
