{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Invoices" %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block content %}

    <header class="nice-padding">
        <div class="row">
            <div class="left">
            <div class='col'>
                <h1 class="icon icon-edit">{% blocktrans %}Invoices{% endblocktrans %} </h1>
                </div>
            <form class='col search-form' action='{% url 'wagtailinvoices_search' pk=invoiceindex.pk %}' method="GET">
    {% csrf_token %}
    {{form}}
<li class="submit visuallyhidden"><input type="submit" value="Search" class="button"></li>
</form>
</div>
<div class='right'>
            <div class="addbutton">
                <a href="{% url 'wagtailinvoices_create' invoiceindex.pk %}" class="button bicolor icon icon-plus">{% blocktrans %}Create Invoice{% endblocktrans %}</a>
            </div>
            </div>
        </div>
    </header>
    {% if invoice_list.exists %}
    {% include 'wagtailinvoices/invoice_list.html' %}
    {% else %}
        <div class="nice-padding">No invoices yet!</div>
    {% endif %}
{% endblock %}
