{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Invoices" %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/shared/datetimepicker_translations.html" %}

    <script>
        $(function() {
            $('#id_date_from').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                i18n: {
                    lang: window.dateTimePickerTranslations
                },
                lang: 'lang'
            });
            $('#id_date_to').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                i18n: {
                    lang: window.dateTimePickerTranslations
                },
                lang: 'lang'
            });
        });
    </script>
{% endblock %}

{% block content %}

    <header class="nice-padding" style='padding-bottom:3em;'>
        <div class="row">
            <div class="left">
            <div class='col'>
                <h1 class="icon icon-edit">{% blocktrans %}Invoices{% endblocktrans %} </h1>
                </div>
            <form class='col search-form' action='{% url 'wagtailinvoices_search' pk=invoiceindex.pk %}' method="GET">
    {{search_form}}
<li class="submit visuallyhidden"><input type="submit" value="Search" class="button"></li>
</form>

<div class="col search-bar">
<form style='margin-right:10em;position:absolute;' action='{% url 'wagtailinvoices_statement' pk=invoiceindex.pk %}' method="GET">

                        <ul class="fields row rowflush">
                            {% for field in statement_form %}
                                {% include "wagtailadmin/shared/field_as_li.html" with field=field field_classes="field-small" li_classes="col4" %}
                            {% endfor %}
                            <li class="submit col2">
                                <button name="action" value="filter" class="button">{% trans 'Statement' %}</button>
                            </li>
                        </ul>
                    </form>
                    </div>
</div>
<div class='right'>
            <div class="addbutton">
                <a href="{% url 'wagtailinvoices_create' invoiceindex.pk %}" class="button bicolor icon icon-plus">{% blocktrans %}Create Invoice{% endblocktrans %}</a>
            </div>
            </div>
        </div>
    </header>
    {% if invoice_list %}
        {% include 'wagtailinvoices/invoice_list.html' %}
    {% else %}
        <div class="nice-padding">Your search results didn't return anything!</div>
    {% endif %}
{% endblock %}