{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Invoices" %}{% endblock %}
{% block bodyclass %}menu-invoice{% endblock %}
{% block content %}

    <header class="nice-padding">
        <div class="row">
            <div class="left">
            <div class='col'>
                <h1 class="icon icon-edit">{% blocktrans %}Invoices{% endblocktrans %} </h1>
                </div>
            <form class='col search-form' action='{% url 'wagtailinvoices_search' pk=invoiceindex.pk %}' method="GET">
    {% csrf_token %}
    {{form}}
<li class="submit visuallyhidden"><input type="submit" value="Search" class="button"></li>
</form>
</div>
<div class='right'>
            <div class="addbutton">
                <a href="{% url 'wagtailinvoices_create' invoiceindex.pk %}" class="button bicolor icon icon-plus">{% blocktrans %}Create Invoice{% endblocktrans %}</a>
            </div>
            </div>
        </div>
    </header>
    {% if invoice_list %}
        <table class="listing full-width">
            <colgroup>
            <thead><tr class="table-headers">
                <th class="title">Client Name</th>
                <th class='created'>Issued on</th>
                <th class='updated'>Last Updated</th>
                <th class="date">Payment Status</th>
                <th class='date'>Total</th>
                <th class="date">Invoice No.</th>
            </tr></thead>
            <tbody>
            {% for invoice in invoice_list %}
                <tr>
                    <td class="title">
                        <h2>
                            <a href="{% url 'wagtailinvoices_edit' pk=invoiceindex.pk invoice_pk=invoice.pk %}">
                                {% if not invoice.client_full_name %}{{invoice.client_organization}}{% else %}{{ invoice }}{% endif %}
                            </a>
                        </h2>
                        <ul class="actions">
                            <li><a href="{% url 'wagtailinvoices_edit' pk=invoiceindex.pk invoice_pk=invoice.pk %}" class="button button-small">{% trans 'Edit' %}</a></li>
                            <li><a href="{% url 'wagtailinvoices_delete' pk=invoiceindex.pk invoice_pk=invoice.pk %}" class="button button-small button-secondary no">{% trans 'Delete' %}</a></li>
                        </ul>
                    </td>
                    <td class='issued'> {{ invoice.issue_date|date:"d M Y H:i"}} </td>
                    <td class='updated'>
                        {% if invoice.last_updated %}
                        <div class="human-readable-date" title="{{ invoice.last_updated|date:"d M Y H:i" }}">
                        {{ invoice.last_updated|timesince }} ago</div>{% endif %}
                    </td>
                    <td class='date'>
                        <p {% if invoice.status == "Cancelled" %}style='font-weight:bold;'{% elif invoice.is_due %}style='color:#ff0033;font-weight:bold;'{% elif invoice.status == "Pending" %}style='color:#FF6600;font-weight:bold;' {% elif invoice.status == "Paid" %}style='color:#007f00;font-weight:bold;' {% endif %}>{{invoice.status}}</p>
                    </td>
                    <td class='date'>
                        ${{ invoice.total }}
                    </td>
                    <td class="date">
                        {{ invoice.id }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nice-padding">Your search results didn't return anything!</div>
    {% endif %}
{% endblock %}